.nav_color{
	background-color: #26A69A;
}
.header_text{
	text-align: center;
	font-weight: bold;
}
.button_alignment	{
	text-align: center;
}
.button_info{
	color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}
.row_margin{
	margin-top: 10px;
}
.row_margin_h{
	margin-top: 100px;
}
.nav_bottom_text{
	text-align: center;
	color: white;
	line-height: 3;
}
.row_margin_home{
	margin-top: 50px;
}
.column_color{
   background-color: #F7F7F9
}
.p_text{
	padding: 5px;
	margin:5px;
}
.row_margin_bottom{
	margin-bottom: 90px;
}
.profile_image
{
	height: 200px;
	width: 250px;
}
.margin_bottom
{

}
